 /* html {
  font-size: 62.5%;
} */



/* 
body {
  margin: 0;
  font-family: 300 11px/1.4 'Montserrat-ExtraBold', 'OpenSans_Condensed-Regular'; 
  color: #ffffff;
  background: #231e72;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  background: #231942;
}

 

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url('./fonts/Montserrat-ExtraBold.ttf');
};


@font-face {
  font-family: "OpenSans_Condensed-Regular";
  src: url('./fonts/OpenSans_Condensed-Regular.ttf');
}

